header {
    text-align: center;
}
nav {
    padding: 10px;
    background-color: red;
}
nav a:hover{
    color: blueviolet;
}
a:link{
    color: greenyellow;
}
a:visited{
    color: brown;
}
blockquote{
    color: aqua;
}
header > img{
    padding: 0px;
    margin: 0px;
    width: 800px;
    height: 300px;
}
article > img{
    width: 350px;
    height: 200px;
    margin: auto;
    
    
}
img:hover{
    transition-duration: 1s;
    transform: scale(1.05);
}
article {
    width: 400px;
    height: 400px;
    background: grey;
    margin: 10px auto;
    padding: 20px;
    overflow: scroll;
    text-align: center;
    box-shadow: 20px;
}
.floatleft{
    float: left;
    margin: 10px;
}
article:hover{
    transition-duration: 1s;
    transform: scale(1.05);
}